---
http_interactions:
- request:
    method: get
    uri: https://api.congress.gov/v3/member?limit=250
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<CONGRESS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Umbrella-Request-Id:
      - cf9v5g9om5k5ftuq3480
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4950'
      X-Vcap-Request-Id:
      - 6bc1add6-ec03-46ed-5fc5-4da476a3a1d3
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "members": [
                {
                    "bioguideId": "P000604",
                    "depiction": {
                        "attribution": "Image courtesy of the Member",
                        "imageUrl": "https://www.congress.gov/img/member/p000604_200.jpg"
                    },
                    "district": 10,
                    "name": "Payne, Donald M.",
                    "partyName": "Democratic",
                    "state": "New Jersey",
                    "terms": {
                        "item": [
                            {
                                "chamber": "House of Representatives",
                                "endYear": 2024,
                                "startYear": 2012
                            }
                        ]
                    },
                    "updateDate": "2024-05-06T19:34:14Z",
                    "url": "https://api.congress.gov/v3/member/P000604?format=json"
                },
                {
                    "bioguideId": "M001165",
                    "depiction": {
                        "attribution": "Image courtesy of the Member",
                        "imageUrl": "https://www.congress.gov/img/member/m001165_200.jpg"
                    },
                    "district": 20,
                    "name": "McCarthy, Kevin",
                    "partyName": "Republican",
           [...]
